#head {
    max-width: 1920px;
    min-height: 100px;
    margin: 0 auto 0 auto;
    position: relative;
    background-image: url(img/002.jpg);
    background-repeat: no-repeat;
    background-position: 340px 5px;
    background-size: 70px;
}

body {
    background-color: rgba(0, 0, 0, 0.904);
}




.bgcolor {
    background-color: #000000;
}

.textcolor, .textcolor a, .textcolor a:hover, .textcolor a:visited {
    color: white;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

a {
    text-decoration: none;
    color: #333;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 31, 31);
    border-bottom: 4px solid white;
}

.list2 {
    
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(145, 34, 34);
    color: white;
    transition: 0.3s;
    border-left: 1px solid white;
    border-right: 1px solid white ;
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 40px;
    color: white;
    transition: 0.3s;
}

#name:hover {
    opacity: 0.7;
}

.buttons2 {
    display: flex;
    align-items: center;
    width: 500px;
    height: 40px;
    border-radius: 5px;
    color: rgb(3, 137, 247);
    transition: 0.3s;
    margin-left: 50px;
}

.buttons:hover {
    opacity: 0.7;
}

.buttons:not(:first-of-type) {
    left: 200px;
}

#daimei {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#main {
    max-width: 800px;
    min-height: 500px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    position: relative;
    background-color: rgb(145, 34, 34);
}

#main2 {
    max-width: 780px;
    min-height: 460px;
    top: 20px;
    margin: 0 auto 0 auto;
    position: relative;
    background: linear-gradient(rgb(92, 24, 24),rgb(22, 22, 22));
    background-color: rgb(92, 24, 24);
}

#main3 {
    max-width: 700px;
    min-height: 900px;
    margin: 0 auto 0 auto;
    position: relative;
    background-color: rgb(255, 255, 255);
}

h3 {
    color: white;
}

.a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.b {
    color: white;
}

.c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d {
    border-radius: 5px;
    color: rgb(175, 41, 41);
    background-color: rgb(32, 32, 32);
    margin-left: 20px;
}

#main4 {
    max-width: 500px;
    min-height: 80px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    position: relative;
    background: linear-gradient(to bottom right, rgb(92, 24, 24),rgb(15, 15, 15));
}

#main4 a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


th {
    color: white;
}

#main5 {
    border: 1px solid #ffffff;
    max-width: 200px;
    min-height: 225px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto 0 auto;
}

#main5 a {
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

#main6 {
    display: flex;
    max-width: 700px;
    min-height: 225px;
    margin: 0 auto 0 auto;
    position: relative;
    background-color: rgb(145, 34, 34);
}

#main7 {
    max-width: 780px;
    min-height: 300px;
    margin: 0 auto 0 auto;
    top: 20px;
    position: relative;
    background: linear-gradient(rgb(92, 24, 24),rgb(22, 22, 22));
}

#main8 {
    max-width: 800px;
    min-height: 360px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    position: relative;
    background-color: rgb(145, 34, 34);
}

#main9 {
    max-width: 200px;
    min-height: 225px;
    margin: 0 auto 0 auto;
}

#main10 {
    display: flex;
    max-width: 600px;
    min-height: 225px;
    margin: 0 auto 0 auto;
    position: relative;
    background-color: rgb(145, 34, 34);
}

#main11 {
    max-width: 800px;
    min-height: 450px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    top: 20px;
    position: relative;
    background-color: rgb(92, 24, 24);
}

table {
    margin: 0 auto 0 auto;
    background-color: rgb(255, 255, 255);
    width: 1050px;
}

th {
    color: rgb(0, 0, 0);
}

#main12 {
    max-width: 800px;
    min-height: 2100px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    position: relative;
    background-color: rgb(145, 34, 34);
}

.main13 {
    
    margin: 0 auto 0 auto;
    left: 50px;
}

.main3 div {
    max-width: 300px;
}

#main15 {
    max-width: 1050px;
    min-height: 760px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    position: relative;
    background-color: rgb(145, 34, 34);
}

th {
    height: 50px;
}

#gazou {
    width: 800px;
    height: 220px;
    line-height: 0;
    margin: 0 auto 0;
    background-image: url(img/003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#gazou h3 {
    position: absolute;
    right: 10px;
    top: 10px;
}

#gazou1 {
    max-width: 300px;
    min-height: 280px;
    margin: 0px auto 0px auto;
    border: 1px solid #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url(img/3.jpg);
    background-repeat: no-repeat;
    background-size: 247px;
}

#gazou1 a {
    color: #ffffff;
    position: relative;
    top: 250px;
}

#gazou3 {
    max-width: 300px;
    min-height: 280px;
    margin: 0px auto 0px auto;
    border: 1px solid #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-size: 247px;
}

#gazou3 a {
    color: #ffffff;
    position: relative;
    top: 250px;
}

#gazou4 {
    max-width: 300px;
    min-height: 280px;
    margin: 0px auto 0px auto;
    border: 1px solid #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url(img/4.jpg);
    background-repeat: no-repeat;
    background-size: 247px;
}

#gazou4 a {
    color: #ffffff;
    position: relative;
    top: 250px;
}

#gazou5 {
    max-width: 300px;
    min-height: 280px;
    margin: 0px auto 0px auto;
    border: 1px solid #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url(img/5.jpg);
    background-repeat: no-repeat;
    background-size: 247px;
}

#gazou5 a {
    color: #ffffff;
    position: relative;
    top: 250px;
}

@media screen and (max-width: 768px) {
    #head {
        max-width: 768px;
        min-height: 100px;
        margin: 0 auto 0 auto;
        position: relative;
        background-image: url(img/002.jpg);
        background-repeat: no-repeat;
        background-position: 300px 5px;
        background-size: 70px;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 35px;
        border-radius: 5px;
        background-color: rgb(145, 34, 34);
        color: white;
        transition: 0.3s;
        border-left: 1px solid white;
        border-right: 1px solid white ;
    }
    
    .buttons:hover {
        opacity: 0.7;
    }
    
    .buttons:not(:first-of-type) {
        left: 200px;
    }

    #gazou {
        position: relative;
        width: 735px;
        height: 220px;
        line-height: 0;
        margin: 0 auto 0;
        background-image: url(img/003.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #gazou h3 {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    #main8 {
        max-width: 735px;
        min-height: 360px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(145, 34, 34);
    }
    
    #main7 {
        max-width: 720px;
        min-height: 300px;
        margin: 0 auto 0 auto;
        top: 20px;
        position: relative;
        background: linear-gradient(rgb(92, 24, 24),rgb(22, 22, 22));
    }
    
    #main11 {
        max-width: 735px;
        min-height: 450px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        top: 20px;
        position: relative;
        background-color: rgb(92, 24, 24);
    }
    
    #main {
        max-width: 735px;
        min-height: 500px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(145, 34, 34);
    }
    
    #main2 {
        max-width: 720px;
        min-height: 460px;
        top: 20px;
        margin: 0 auto 0 auto;
        position: relative;
        background: linear-gradient(rgb(92, 24, 24),rgb(22, 22, 22));
        background-color: rgb(92, 24, 24);
    }

    #main15 {
        max-width: 735px;
        min-height: 760px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(145, 34, 34);
    }

    table {
        margin: 0 auto 0 auto;
        background-color: rgb(255, 255, 255);
        width: 735px;
    }
    
    #main12 {
        max-width: 735px;
        min-height: 2100px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(145, 34, 34);
    }

    #main3 {
        max-width: 720px;
        min-height: 900px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(255, 255, 255);
    }
    
    #main10 {
        display: flex;
        max-width: 600px;
        min-height: 225px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(145, 34, 34);
    }
}

@media screen and (max-width: 400px) {
    #head {
        max-width: 360px;
        min-height: 80px;
        margin: 0 auto 0 auto;
        position: relative;
        background-image: url(img/002.jpg);
        background-repeat: no-repeat;
        background-position: 280px 5px;
        background-size: 65px;
        font-size: 15px;
    }


    #gazou {
        width: 342px;
        height: 120px;
        line-height: 0;
        margin: 0 auto 0;
        background-image: url(img/003.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #gazou h3 {
        position: absolute;
        right: 5px;
        top: 1px;
        font-size: 10px;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(145, 34, 34);
        color: white;
        transition: 0.3s;
        border-left: 1px solid white;
        border-right: 1px solid white ;
        font-size: 12px;
    }

    .buttons:hover {
        opacity: 0.7;
    }
    
    .buttons:not(:first-of-type) {
        left: 200px;
    }
    
    .list {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(94, 31, 31);
        border-bottom: 4px solid white;
    }

    #main8 {
        max-width: 360px;
        min-height: 340px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(145, 34, 34);
    }

    #main7 {
        max-width: 330px;
        min-height: 320px;
        margin: 0 auto 0 auto;
        top: 10px;
        position: relative;
        background: linear-gradient(rgb(92, 24, 24),rgb(22, 22, 22));
        font-size: 11px;
    }

    #main7 h2 {
        font-size: 1px;
    }

    #main11 {
        max-width: 360px;
        min-height: 450px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        top: 20px;
        position: relative;
        background-color: rgb(92, 24, 24);
    }

    #main {
        max-width: 360px;
        min-height: 300px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(145, 34, 34);
    }
    
    #main2 {
        max-width: 330px;
        min-height: 280px;
        top: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background: linear-gradient(rgb(92, 24, 24),rgb(22, 22, 22));
        background-color: rgb(92, 24, 24);
        font-size: 11px;
    }

    .d {
        border-radius: 5px;
        color: rgb(175, 41, 41);
        background-color: rgb(32, 32, 32);
        margin-left: 20px;
        margin-top: 10px;
        font-size: 10px;
    }

    .buttons2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 360px;
        height: 50px;
        border-radius: 5px;
        color: rgb(3, 137, 247);
        transition: 0.3s;
        font-size: 12px;
        margin-left: 10px;
    }

    #main15 {
        max-width: 360px;
        min-height: 760px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(145, 34, 34);
        font-size: 11px;
    }

    table {
        margin: 0 auto 0 auto;
        background-color: rgb(255, 255, 255);
        width: 330px;
        font-size: 5px;
    }

    #main12 {
        max-width: 800px;
        min-height: 1560px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(145, 34, 34);
    }

    .b {
        color: white;
        font-size: 10px;
    }

    #main4 {
        max-width: 330px;
        min-height: 40px;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        position: relative;
        background: linear-gradient(to bottom right, rgb(92, 24, 24),rgb(15, 15, 15));
    }

    #main4 a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    #name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 360px;
        height: 40px;
        color: white;
        transition: 0.3s;
    }
    
    #name:hover {
        opacity: 0.7;
    }

    #main6 {
        max-width: 360px;
        min-height: 280px;
        background-color: rgb(145, 34, 34);
        display: flex;
        flex-direction: column;
    }

    .a {
        font-size: 16px;
    }

    #main5 {
        border: 1px solid #ffffff;
        max-width: 200px;
        min-height: 225px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: 0 auto 0 auto;
    }

    #gazou1 {
        max-width: 300px;
        min-height: 280px;
        margin: 0px auto 0px auto;
        border: 1px solid #ffffff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-image: url(img/3.jpg);
        background-repeat: no-repeat;
        background-size: 247px;
    }

    #gazou1 a {
        color: #ffffff;
        position: relative;
        top: 250px;
    }

    #gazou3 {
        max-width: 300px;
        min-height: 280px;
        margin: 0px auto 0px auto;
        border: 1px solid #ffffff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-image: url(img/2.jpg);
        background-repeat: no-repeat;
        background-size: 247px;
    }

    #gazou3 a {
        color: #ffffff;
        position: relative;
        top: 250px;
    }

    #main3 {
        max-width: 330px;
        min-height: 1500px;
        margin: 0 auto 0 auto;
        position: relative;
        background-color: rgb(255, 255, 255);
    }

    #main3 h1 {
        font-size: 20px;
    }

    table {
        margin: 0 auto 0 auto;
        background-color: rgb(255, 255, 255);
        width: 330px;
    }

    th {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
    }
}